
.vs/ToggleMicIcon/v16/.suo
ToggleMicIcon/.vs/ToggleMicIcon/v16/.suo
ToggleMicIcon/bin/Debug/Assembly-CSharp-firstpass.dll
ToggleMicIcon/bin/Debug/Assembly-CSharp.dll
ToggleMicIcon/bin/Debug/Facepunch.Steamworks.Win64.dll
ToggleMicIcon/bin/Debug/Iced.dll
ToggleMicIcon/bin/Debug/Il2CppMono.Security.dll
ToggleMicIcon/bin/Debug/Il2Cppmscorlib.dll
ToggleMicIcon/bin/Debug/Il2CppSystem.Configuration.dll
ToggleMicIcon/bin/Debug/Il2CppSystem.Core.dll
ToggleMicIcon/bin/Debug/Il2CppSystem.dll
ToggleMicIcon/bin/Debug/Il2CppSystem.Xml.dll
ToggleMicIcon/bin/Debug/MelonLoader.ModHandler.dll
ToggleMicIcon/bin/Debug/NSpeex.dll
ToggleMicIcon/bin/Debug/Oculus.VR.dll
ToggleMicIcon/bin/Debug/Photon3Unity3D.dll
ToggleMicIcon/bin/Debug/Rackspace.Collections.Immutable.dll
ToggleMicIcon/bin/Debug/ToggleMicIcon.dll
ToggleMicIcon/bin/Debug/ToggleMicIcon.pdb
ToggleMicIcon/bin/Debug/Transmtn.dll
ToggleMicIcon/bin/Debug/UnhollowerBaseLib.dll
ToggleMicIcon/bin/Debug/Unity.Postprocessing.Runtime.dll
ToggleMicIcon/bin/Debug/Unity.TextMeshPro.dll
ToggleMicIcon/bin/Debug/UnityEngine.AIModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.AnimationModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.AssetBundleModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.AudioModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.ClothModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.CoreModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.DirectorModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.IMGUIModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.ParticleSystemModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.Physics2DModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.PhysicsModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.SharedInternalsModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.TerrainModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.TextCoreModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.TextRenderingModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.UI.dll
ToggleMicIcon/bin/Debug/UnityEngine.UIModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.UnityAnalyticsModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.UnityWebRequestAssetBundleModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.UnityWebRequestModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.UnityWebRequestWWWModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.VehiclesModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.VideoModule.dll
ToggleMicIcon/bin/Debug/UnityEngine.XRModule.dll
ToggleMicIcon/bin/Debug/VRC.Udon.ClientBindings.dll
ToggleMicIcon/bin/Debug/VRC.Udon.Common.dll
ToggleMicIcon/bin/Debug/VRC.Udon.dll
ToggleMicIcon/bin/Debug/VRC.Udon.Security.dll
ToggleMicIcon/bin/Debug/VRC.Udon.Serialization.OdinSerializer.dll
ToggleMicIcon/bin/Debug/VRCCore-Standalone.dll
ToggleMicIcon/bin/Debug/VRCSDK2.dll
ToggleMicIcon/bin/Debug/VRCSDK3.dll
ToggleMicIcon/bin/Debug/VRCSDK3A.dll
ToggleMicIcon/bin/Debug/VRCSDKBase.dll
ToggleMicIcon/bin/Debug/websocket-sharp.dll
ToggleMicIcon/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
ToggleMicIcon/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ToggleMicIcon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ToggleMicIcon/obj/Debug/ToggleMicIcon.csproj.CopyComplete
ToggleMicIcon/obj/Debug/ToggleMicIcon.csproj.CoreCompileInputs.cache
ToggleMicIcon/obj/Debug/ToggleMicIcon.csproj.FileListAbsolute.txt
ToggleMicIcon/obj/Debug/ToggleMicIcon.csprojAssemblyReference.cache
ToggleMicIcon/obj/Debug/ToggleMicIcon.dll
ToggleMicIcon/obj/Debug/ToggleMicIcon.pdb
*.xml
*.iml
